COMPOSE_PROJECT_NAME=frappe_docker
CUSTOM_IMAGE=cise/erpnext-hrms
CUSTOM_TAG=f16.29.0-e16.30.0-h16.17.1
PULL_POLICY=never

SITE_NAME=frontend
HTTP_PUBLISH_PORT=8080

DB_PASSWORD=replace-with-a-strong-database-password
ADMIN_PASSWORD=replace-with-a-strong-administrator-password

GUNICORN_THREADS=4
GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=120
