include *.md
include *.txt
recursive-include cyce_viaticos *.css
recursive-include cyce_viaticos *.html
recursive-include cyce_viaticos *.js
recursive-include cyce_viaticos *.json
recursive-include cyce_viaticos *.md
recursive-include cyce_viaticos *.py
recursive-include cyce_viaticos *.txt
